.div-container {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: block;
  width: 600px;
  height: 400px;
  border: solid 3px #10828c;
  border-radius: 30px;
  background: #fceabb;
  background: -webkit-linear-gradient(right, #ffd561, #fff1cd);
  background: linear-gradient(right, #ffd561, #fff1cd);
}

#city-name {
  width: 240px;
  margin-top: 10px;
  font-family: "Red Hat Text", sans-serif;
  border: solid 1px #0e3047;
  border-radius: 2px;
}

#go-button {
  font-family: "Red Hat Text", sans-serif;
  background-color: #10828c;
  color: white;
  padding: 1px 6px;
  border: solid 1px #0e3047;
  border-radius: 2px;
  font-family: "Red Hat Text", sans-serif;
  cursor: pointer;
}

#current-button {
  font-family: "Red Hat Text", sans-serif;
  background-color: #10828c;
  color: white;
  padding: 1px 6px;
  border: solid 1px #0e3047;
  border-radius: 2px;
  font-family: "Red Hat Text", sans-serif;
  cursor: pointer;
}

#go-button:hover,
#current-button:hover {
  background-color: white;
  color: #0e3047;
}

.col-l .active {
  color: #0e3047;
}

.temperature-c-change,
.temperature-f-change {
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  color: grey;
}

.temperature-c-change:hover,
.temperature-f-change:hover {
  color: coral;
  text-decoration: none;
}

.weather-left {
  width: 360px;
  height: 380px;
  padding: 20px 10px 0px 20px;
  float: left;
}

h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 35px;
  text-transform: capitalize;
  color: #10828c;
  margin: 15px 0px 10px 0px;
}

.day {
  margin-top: -5px;
  margin-bottom: 0;
}
.weather-type {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h3 {
  font-weight: normal;
  font-size: 16px;
}

h3,
.row,
.quote,
.foot-note {
  font-family: "Red Hat Text", sans-serif;
  color: #0e3047;
}

p {
  text-align: center;
}

.temperature-main {
  font-size: 60px;
  font-family: "Aclonica", sans-serif;
  color: #10828c;
}

.forecast-main {
  margin: 0px;
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0px 10px;
  width: 150px;
  font-family: "Aclonica", sans-serif;
  color: #10828c;
}
.temperature-high-main,
.temperature-low-main,
.temperature-f-change,
.temperature-c-change,
.temp-divide {
  font-size: 18px;
  font-family: "Red Hat Text", sans-serif;
}

.forecast {
  font-size: 22px;
  font-family: "Red Hat Text", sans-serif;
}

li .temperature-high,
li .temperature-low,
.feels-like,
.humidity,
.wind,
.quote,
.foot-note {
  font-size: 12px;
}

.row {
  display: inline-block;
}

.col-l {
  float: left;
  margin-top: -20px;
  width: 150px;
  height: 190px;
  text-align: right;
}

.quote {
  margin: 10px 0px;
}

.weather-right {
  display: block;
  width: 184px;
  height: 400px;
  float: left;
}

.day-m {
  display: inline-block;
  width: 26px;
  height: 17px;
  text-align: center;
}

.temperature-low,
.temperature-low-main {
  color: gray;
}

ul img {
  vertical-align: middle;
}

.forecast {
  list-style-type: none;
  display: inline-block;
  padding-top: 5px;
  padding-inline-start: 10px;
  vertical-align: middle;
  color: #0e3047;
}

.forecast-day {
  margin: 5px 10px 10px 0px;
  padding: 0px 10px 0px 15px;
  width: 150px;
}

.forecast-day:hover {
  background-color: #fdde90;
  box-shadow: 0 4px 8px 0 rgba(255, 184, 126, 0.3),
    0 6px 20px 0 rgba(255, 186, 58, 0.3);
  padding: 0px 10px 0px 15px;
  border-radius: 20px;
  transition: ease-in-out 150ms;
}

.foot-note {
  margin: 0px 10px;
}

a {
  color: coral;
  text-decoration: none;
}
